<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>HelloAppEngine</servlet-name>
        <servlet-class>HelloAppEngine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloAppEngine</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
</web-app>